
<div ng-controller="DomdiffCtrl">
  <div id="editable-content" contenteditable="true" >
    <h1>Editable Title</h1>
    Text node before paragraph
    <p>
      Editable paragraph
    </p>
    Text node after paragraph
  </div>
  
  <hr>
    
  <textarea class="logs" ng-model="modificationString" style="width:90%" rows="{{modificationMaxNum * 2}}">
    
  </textarea>
</div>