<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap 101 Template</title>
	<link href="libs/css/bootstrap.css" rel="stylesheet">
  <style>
    .bordered {
      border: 3pt dashed gray;
    }
  </style>
  <script src="libs/js/jquery.js"></script>
  <script src="libs/js/jquery-ui.js"></script>
  <script src="libs/js/bootstrap.js"></script>
  <script src="libs/js/angular.js"></script>
  <script src="libs/js/angular-sanitize.js"></script>
  <script src="libs/js/ui-bootstrap-tpls.js"></script>
  <script src="libs/js/angular-dragdrop.js"></script>
  
  <script src="templates-definitions.js"></script>
  <script>
    var myModule = angular.module('form-editor', ['ui.bootstrap', 'ngSanitize', 'ngDragDrop']);
    myModule.directive('irisOneInput', function($interpolate, $compile) {
      
      var linker = function(scope, element, attrs) {
          var fieldDefinitionExp = attrs.irisFieldDefinition;
          var active = attrs.irisInputActive ? scope.$eval(attrs.irisInputActive) : true;
          var debug = attrs.irisDebug ? scope.$eval(attrs.irisDebug) : false;
          
          if(debug) console.log("In watch su", attrs.fieldDefinition);
          scope.$watch(fieldDefinitionExp, function(fieldDef) {
            if(debug) console.log("listener di watch:", fieldDef);
            
            var metaTemplate = allSnippet[fieldDef.type];
            var f = $interpolate(metaTemplate, false, null, true);
            var template = f(fieldDef);
            
            if(debug) console.log(template);

            if(active) {
              template = $compile(template)(scope);
            }
            element.html(template);
          }, true);
      };

      return {
        restrict: "AE",
        replace: false,
        link: linker
      };
    });


    function EditorController($scope, $interpolate, $sce, $modal) {
      $scope.templates = allSnippetDefs;
      $scope.palette = [];


      for(var k in $scope.templates) {
        var templateInfo = allSnippetDefs[k];
        var widgetBaseBean = {
          type : k
        };
        for(var i=0; i<templateInfo.attributes.length; i++) {
          var attr = templateInfo.attributes[i];
          widgetBaseBean[attr.id] = attr.value;
        }
        if(widgetBaseBean.type !== "form") {
            $scope.palette.push(widgetBaseBean);
        }
      };

      $scope.form = {
        type: "form",
        title: "Titolo",
        children: [
          { 
            type: "intxt",
            lbl: "Name",
            id :"name",
            name : "name",
            model: "data.nameStr",
            placeHolder: "Il nome dell'autore"
          }
        ]
      };

      $scope.modalInstance = null;
      $scope.formClick = function(model) {
        
        if(!$scope.modalInstance) {
          $scope.modalInstance = $modal.open({
            templateUrl: 'properties.html',
            size: "lg",
            controller: PropertyEditorCtrl,
            resolve: {
              item: function () {
                console.log(model, $scope.templates[model.type]);
                return { 
                  obj: angular.copy(model),
                  descriptor: $scope.templates[model.type]
                };
              },
            }
          });

          $scope.modalInstance.result.then(function (result) {
            for(var i=0; i<result.descriptor.attributes.length; i++) {
              var propertyName = result.descriptor.attributes[i].id
              model[propertyName] = result.obj[propertyName];
            }
            $scope.modalInstance = null
          }, function () {
            $scope.modalInstance = null
          });
        };
      }


      $scope.data = {};
    }  


    function PropertyEditorCtrl($scope, item) {

      $scope.item = item;


    }
  </script>
</head>
<body ng-app="form-editor">
  

  <div ng-controller="EditorController">
    <tabset>
      <tab heading="Edit">
        <div>
          <div class="col-md-8" data-drop="true" ng-model="form.children" 
            jqyoui-droppable="{}"
            data-ng-click="formClick(form)"
            data-jqyoui-options="{hoverClass:'bordered'}"
          >
            <form class="form-horizontal" role="form" >
              <fieldset>
                <legend >{{form.title}}</legend>
                <div data-iris-one-input 
                     data-iris-field-definition="field" 
                     data-iris-input-active="false"
                     data-ng-repeat="field in form.children" 
                     data-ng-click="formClick(field)"
                     data-ng-model="field"
                     data-ng-collection-model="form.children"
                     data-drag="true"   
                     data-jqyoui-options="{revert: 'invalid'}" 
                     data-jqyoui-draggable="{placeholder:false}"
                >
                </div>
              </fieldset>
              <fieldset>
                <legend></legend>
                <div class="btn-group">
                  <button class="btn btn-primary">Btn</button>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="col-md-4" >
            <h2>Drag Area</h2>
            <div ng-repeat="tmpl in palette"  >
              <span ng-bind-html="templates[tmpl.type].name" data-drag="true"  ng-model="tmpl" 
                data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{placeholder:'keep'}"
              >
              </span>
            </div>

            <h2>Cestino</h2>
            <div data-drop="true" 
              jqyoui-droppable="{index: 0}" 
              ng-model="trash"
              data-jqyoui-options="{hoverClass:'bordered'}"
            >
              Cestino
            </div>
           
          </div>
          <div class="col-md-12" >
            <h4>Debug</h4>
            <p>Form: {{form}}</p>
          </div>
        </div>
        <script type="text/ng-template" id="properties.html">
          <div class="modal-header">
            <h3 class="modal-title">Widget Property</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" >
              <div>
              <div ng-repeat="property in item.descriptor.attributes" 
                   class="form-group" >
                <label for="{{property.id}}" class="col-sm-2 control-label" ng-bind-html="property.name">
                </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="{{property.id}}" name="{{property.id}}"
                         placeholder="{{property.name}}" ng-model="item.obj[property.id]"/>
                </div>
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(item)">OK</button>
            <button class="btn btn-warning" ng-click="$dismiss('')">Cancel</button>
          </div>
        </script>
      </tab>
      <tab heading="Run">
        <div class="col-md-12" >
          <form class="form-horizontal" role="form" >
            <legend >{{form.title}}</legend>
            <fieldset>
              <div ng-repeat="field in form.children" iris-one-input data-iris-field-definition="field" ></div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-12" >
          <h4>Debug</h4>
          <p>Data: {{data}}</p>
          <div>
            <p data-ng-repeat="(k, v) in data" ><b>{{k}}</b>: {{v}}</p>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</body>
</html>

