
body {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px
}

#contentddd {
	width: 100vw;
	height: 100vh;
	background-color: gray;

	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;

	display: -moz-box;
	-moz-box-align: center;
	-moz-box-pack: center;

	display: -ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;

	display: box;
	box-align: center;
	box-pack: center;
}

#full-subject {
	background: url(data/piazza_s_stefano/bologna_santo_stefano_facciata.jpg);
	background-color: white;
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
	na-width: 600px;
	na-height:400px;
}

.details > * {
	stroke-width: 1px;
	stroke: white;
	stroke-opacity: 10%;
	fill-opacity: 0%;
	fill: transparent;
	
	transition-property: fill-opacity, stroke-opacity, stroke-width;
	transition-duration: 2s;
}

.details > *:hover {
	stroke: red;
	fill: white;
	fill-opacity: 40%;
	stroke-opacity: 90%;
}


