<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buon Viaggio!!</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="home.css" rel="stylesheet">
    <script>
    var require = {
        baseUrl: "js",
        paths: {
            jquery: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min",
            angular: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min"
        },
        config: {
            "apputils/Logging": {
                logToServer: '/services/rest/log/'
            }
        },
        shim: {
            'angular': {
                exports: 'angular'
            }
        }
    };
    </script>
    <script data-main="main" src="js/requirejs/require.js"></script>
</head>

<body>
<div ng-controller="TodoCtrl">
    <ul class="unstyled">
        <li ng-repeat="todo in configurations">
            <span>{{todo.text}}</span> 
            <input type="range" ng-model="todo.val" min="1000" max="10000" 
                                 ng-change="onConfigChange();" />
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="positionInfo" class="span2">
            <!--Sidebar content-->
        </div>
        <div id="maps" class="span10">
            <svg id="full-subject" width="600" height="400" >
                <g transform="scale(1)" class="details" >
                    <path id="chiesa" d="M250 365 l0 -240 l145 -70 l155 50 l30 275 Z"  />
                    <path id="laterale" d="M17 305 l0 -30 l35 -20 l0 -40 l37 -22 l65 35 l-10 80 Z"  />
                    <circle id="finestra" class="detail" cx="395" cy="152" r="30" />
                    <path id="porta" d="M369 365 l0 -65 c10 -40 55 -40 65 0 l 0 70 Z"  />
                </g>
            </svg> 
        </div>
    </div>
</div>


<div id="log_off">
</div>


</body>
</html>
