<div ng-controller="PositionCtrl" >
  <div id="controls">
    <label for="posTime">Position refresh interval</label>
    <input id="posTime" type="range" ng-model="positionPeriod" min="0" max="50" ng-change="setConfiguration();" />
    <span ng-bind="positionPeriod *100" ></span><span>ms</span>
    
    <br/>
    
    <label for="orTime">Orientation refresh interval</label>
    <input id="orTime" type="range" ng-model="orientationPeriod" min="0" max="50" ng-change="setConfiguration();" /> 
    <span ng-bind="orientationPeriod *100" ></span><span>ms</span>
  </div>
  <div data-openlayers 
       data-center="center"
       style="width: 90%; height: 500px; background-color:#DDDDDD;">
  </div>
  <div id = "positionMsg" ng-bind-html="positionString">
    
  </div>
  <div id = "errorMsg" ng-bind="errorString">
    
  </div>
  
  
</div>
