  

<div id="ocr-results" ng-controller="OcrCtrl">

  <ul>
    <li ng-repeat="img in imges">
      <img ng-src="{{img.img}}" />
      <span>Testo atteso</span> <span ng-bind="img.txt"></span>
      <button ng-click="load(img)">decode</button>
    </li>
  </ul>
  
</div>
