<div ng-controller="CardCtrl" >
  <div id="choosewebcam" ></div>

  <div id="toolbar" >
		<div>
      <span>List of Images</span>
      <select ng-model="selectedCard" ng-options="c.title for c in cards" ng-change="reconfigure()">
        <option value="">-- choose card --</option>
      </select>
		</div>
		<div id="opt">
      Low: <input id="lt" type="range" min="1" max="250" ng-model="cfg.lt" ng-change="changedParams()" > <br>
			Height: <input id="ht" type="range" min="1" max="250" ng-model="cfg.ht" ng-change="changedParams()" >
		</div>
	</div>
	
  <div id="images" >
		<canvas id="original" ></canvas>
		<canvas id="destination" ></canvas>
		<canvas id="cutted" ></canvas>
	</div>
	
  <div id="result">
	</div>
	<video id="video" style="visibility: hidden;"></video>
</div>
