<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principale</title>
    <script>
      var require = {
        baseUrl: "main-app/js",
        paths: {
          "OpenLayers": "../../all_scripts/openlayers/OpenLayers_with_Editor",
          jQuery: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min",
          angularCore: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular",
          angularRoute: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route",
          angularSanitize: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize",
          angularOpenLayers: "../../all_scripts/openlayers/angular-openlayers-directive.min",
          webrtc: '../../all_scripts/polyfills/webrtc-shim',
          animationTimingControlApi: '../../all_scripts/polyfills/animation-timing-control-api'
        },
        config: {
          "apputils/Logging": {
            logToServer: 'services/rest/log/'
          }
        },
        shim: {
          'jQuery': {
            exports: 'jQuery'
          },
          'OpenLayers': {
            exports: 'OpenLayers'
          },
          'angularCore': {
            deps: ['jQuery'],
            exports: 'angular'
          },
          'angularRoute': ['angularCore'],
          'angularSanitize': ['angularCore'],
          'angularOpenLayers': ['angularCore', 'OpenLayers']
        }
      };
    </script>
    <script src="all_scripts/polyfills/bluebird.js"></script>
    <script data-main="main" src="requirejs/require.js"></script>
  </head>

  <body>
    <div ng-controller="MenuController">
      <ul>
        <li ng-repeat="item in menu">
          <a href="#{{item.baseUrl}}" ng-bind="item.text"></a>
        </li>
      </ul>
    </div>
      <a href="formbuilder/index.html">FormBuilder</a>
      
    
    <div id="main-window" ng-view >

    </div>


  </body>
</html>
