<div ng-controller="SpeechController" >
  <div class="controls">
    <span>Rate</span>
    <input type="range" min="0.1" max="2.0" step="0.1" ng-model="cfg.rate" >
    <span ng-bind="cfg.rate"></span>
    
    <span>Pitch</span>
    <input type="range" min="0.1" max="2.0" step="0.1" ng-model="cfg.pitch" >
    <span ng-bind="cfg.pitch"></span>
    
  </div>
  <ul>
    <li ng-repeat="i in phrases" >
      <span ng-bind="i.lang"></span>
      <span ng-bind="i.text"></span>
      <button ng-click="speech(i)" >Read</button>
    </li>
  </ul>
  <div>
    <span>Choose your language</span>
    <select ng-model="userLang" ng-options="l.desc for l in langs">
      <option value="">-- choose language --</option>
    </select>
    <span>Selected:</span><span ng-bind="userLang.code"></span>
    
    <input type="text" x-webkit-speech ng-attr-lang="{{userLang.code}}">
  </div>
  
  
</div>
